@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Prueba de Estados del Sistema</h1>
<hr />

<EstadoSistema CodigoEstado="200" />
<EstadoSistema CodigoEstado="404" />
<EstadoSistema CodigoEstado="500" />
<EstadoSistema CodigoEstado="401" />